
<section class="container">
<h4>Login</h4>
<div class="row">
<form class="col s12 m4 offset-m4" action="/login" method="POST">
    <div class="row">
      <div class="input-field col s12">
  <label for="name">Email</label>
  <input type="email" name="email" placeholder="name"/>
  </div>
    </div>
  <br /><br />
  <div class="row">
    <div class="input-field col s12">
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password"/>
  </div>
    </div>
  <br><br>
  <button class="waves-effect waves-light btn-large">Login</button>

   <p>
    or 
    <a href="/signup">Signup</a>
  </p>
</form>
</div>
</section>


