<h2>Login</h2>

<form action="/login" method="POST">
  <label for="name">Email</label>
  <input type="email" name="email" placeholder="name"/>
  <br /><br />
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password"/>
  <br><br>
  <button>Login</button>

   <p>
    or 
    <a href="/signup">Signup</a>
  </p>
</form>