
<!--start-form-->
<section class="container">
<h4>Signup</h4>
    <div class="row">
    <form  class="col s12 m4 offset-m4" action="/signup" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="username" placeholder="username" required>
          <label for="first_name">First Name</label>
        </div>
       
     <div class="row">
        <div class="input-field col s12">
          <input type="email" name="email" placeholder="example@mail.com" required>
          <label for="email">Email</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
          <p class="msg">{{msg}}</p>
            <p class="err">{{err}}</p>
            <input id="signup"class="waves-effect waves-light btn-large" type="submit" value="  Signup "> 
    <a href="/auth/google"><button class="waves-effect waves-light btn-large">google <i id="google" class="fa fa-google" aria-hidden="true"></i></button></a>
    <p>
    or
    <a href="/login">Login</a>
  </p>
  </div>
        </div>
      </div>
        
          </div>
        </div>
      </div>
      
    </form>
  </section>


<!--end-form-->


        