<section>
  <form action="/signup" method="POST">
    <h2>Sign up</h2>
    <label>Username</label>
    <input type="text" name="username" placeholder="username" required>
    <label>Email</label>
    <input type="email" name="email" placeholder="example@mail.com" required>
    <label>Password</label>
    <input type="password" name="password" required>
    <input type="submit" value="Signup">
    <p class="msg">{{msg}}</p>
    <p class="err">{{err}}</p>
  </form>
<br><br>
<p>
    or
    <a href="/login">Login</a>
  </p>
  <br><br>
<a href="/auth/google"><button>Google</button></a>