
<section class="container">
<div class="row">
{{#each allCraftman}}
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{this.img}}">
          <span class="card-title">{{this.name}}</span>
        </div>
        <div class="card-content">
          <a class="center-align" href="/craftman/detail/{{this._id}}"><button class="waves-effect waves-light btn-small">Ver mas</button></a>
        </div>
      </div>
    </div>

  {{/each}}
  </div>
  </section>

