<h1>Artesanos</h1>

{{#each allCraftman}}
  <img src="{{this.img}}" style="width: 250px;">
  <h1>{{this.name}}</h1>
  <a href="/craftman/detail/{{this._id}}"><button>Ver mas</button></a>
  <br><br>
{{/each}}