<header>
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img class="img_logo" src="../images/logo_artesanías.png"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="products.hbs">Artesanías</a></li>
        <li><a href="artesanos.hbs">Artesanos</a></li>
        <li><a href="signup.hbs">Signup</a></li>
        <li><a href="login.hbs">Login</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="products.hbs">Artesanías</a></li>
    <li><a href="artesanos.hbs">Artesanos</a></li>
    <li><a href="signup.hbs">Signup</a></li>
    <li><a href="mobile.html">Login</a></li>
  </ul>
  <section class="header-main-pic"></section>
  </header>
  
  <!--header-->
 <div class="header-img">
 <h1>artesanías México</h1>
 </div>
  <!--header-->
          <div class="regiones">
          <h2>Regíones</h2>
          <div>

{{!-- begin of region section --}}
<section class="container">
<div class="row">

    <div class="region">
      <div class="col s4 m4">
      <div class="background-img1">
      <h3>Oaxaca</h3>
      </div>
      </div>
    <div>

<div class="region">
      <div class="col s4 m4">
      <div class="background-img2">
      <h3>Chiapas</h3>
      </div>
      </div>
   </div>   
     
<div class="region">
     <div class="col s4 m4">
      <div class="background-img3">
      <h3>Yucatán</h3>
      </div>
      </div>
 </div>      

  <div class="region">   
      <div class="col s4 m4">
      <div class="background-img4">
      <h3>Michoacán</h3>
      </div>
      </div>
 </div>     

  <div class="region">  
      <div class="col s4 m4">
      <div class="background-img5">
      <h3>Tabasco</h3>
      </div>
      </div>
 </div>  

<div class="region"> 
      <div class="col s4 m4">
      <div class="background-img6">
      <h3>Guanajuato</h3>
      </div>
      </div>
  </div>    
  </div>    
    </section>
{{!-- end of region section --}}  

<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
    <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
  </div>

<!--start-review-section-->
<section class="container">
<div class="row">
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://bloximages.newyork1.vip.townnews.com/fox10tv.com/content/tncms/assets/v3/editorial/6/5a/65ae7a60-489f-5eb0-98d4-b49a5679bca2/5df0eb35b25b4.image.jpg?resize=750%2C422" class="circle responsive-img">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
        <i class="material-icons">star</i>
         <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star_half</i>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">Ver mas</a>
        </div>
      </div>
    </div>

     <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img class="circle responsive-img" src="https://bloximages.newyork1.vip.townnews.com/fox10tv.com/content/tncms/assets/v3/editorial/6/5a/65ae7a60-489f-5eb0-98d4-b49a5679bca2/5df0eb35b25b4.image.jpg?resize=750%2C422" >
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
        <i class="material-icons">star</i>
         <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">Ver más</a>
        </div>
      </div>
    </div>

    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://bloximages.newyork1.vip.townnews.com/fox10tv.com/content/tncms/assets/v3/editorial/6/5a/65ae7a60-489f-5eb0-98d4-b49a5679bca2/5df0eb35b25b4.image.jpg?resize=750%2C422" class="circle">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
        <i class="material-icons">star</i>
         <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star_half</i>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">Ver mas</a>
        </div>
      </div>
    </div>
         
  </div>
</section>
<!--end-review-section-->

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Acerca de nosotros</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">El valor del artesano</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Regiones</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Preguntas frecuentes</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Artesanías México
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

       

