<!--start-navbar-->
<header>
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img class="img_logo" src="../images/logo_artesanías.png"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="products">Artesanías</a></li>
        <li><a href="artesanos">Artesanos</a></li>
        <li><a href="signup">Signup</a></li>
        <li><a href="login">Login</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="products">Artesanías</a></li>
    <li><a href="artesanos">Artesanos</a></li>
    <li><a href="signup">Signup</a></li>
    <li><a href="login">Login</a></li>
  </ul>
  <section class="header-main-pic"></section>
  </header>
<!--end-navbar-->


<section class="container">
{{#each products}}
<div class="row">
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{this.img}}">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content">
          <h6>{{this.name}}</h6>
          <p>Categoría: {{this.category}}</p>
          <p>Michoacan</p>
          <span>${{this.price}}</span>
        </div>
      </div>
    </div>
    </div>
    {{/each}}
    </section>


    <!--start-footer-->
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">¿Quiénes somos?</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Artesanías México</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Acerca de nosotros</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">El valor del artesano</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Regiones</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Preguntas frecuentes</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Artesanías México
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
<!--end-footer-->
       
