
<section class="container">
{{#each products}}
<div class="row">
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{this.img}}">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content">
          <h6>{{this.name}}</h6>
          <p>Categoría: {{this.category}}</p>
          <p>Michoacan</p>
          <span>${{this.price}}</span>
        </div>
      </div>
    </div>
    </div>
    {{/each}}
    </section>